/*@for $i from 1 through 20 {*/
/*    .space-#{$i*5} {*/
/*        display: block;*/
/*        width: 100%;*/
/*        height: #{$i*5}px;*/
/*    }*/
/*}*/
/*@font-face {*/
/*    font-family: 'lato';*/
/*    src: url('fonts/Lato-Thin.woff2');*/
/*    font-weight: 600;*/
/*    font-display: swap;*/
/*    font-style: normal;*/
/*}*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Lato:ital,wght@1,300&family=Montserrat:wght@400;700&display=swap');
body{
    font-family: 'Lato', sans-serif;
    background-color: #f1cd9e;
    /*display: compact;*/
    float: inherit;
}
.bertrand{
    font-size: 30px;
    text-decoration: underline;
    margin-top: 30px;
    text-align: center;
}
.text{
    text-align: left;
    width: 500px;
}

.text2{
    float: left;
    width: 500px;
}


p span{
    font-style: italic;
    color: #ab08ec;
    text-decoration: underline;
}

.titles{
    text-align: center;
    float: right;
}

.scope{
    font-weight: 80;
}

.n\/m{
    color:darkblue;
}

.char{
    color:red;
}

.solus{
    /*text-align: left;*/
    width: 500px;
    float: right;
}
