.body{
    margin-left : 200px;
}


.green {
    color : rgb(64, 197, 124) ;
    font-size : 25px;
    text-align: center;

}

.fstyle {
    font-size: 20px;
    color: #333;
    font-style: italic;
}

.sonya {
    color : purple;
    text-align : center;
    font-style: italic;
    margin-bottom: 0;

}
